<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <bean id="sessionBean"
          class="com.titova.SessionBean"/>
            
    <bean id="userService"
          class="com.titova.insurance.service.implementation.UserServiceImplementation"/>
    
    <bean id="customerService"
          class="com.titova.insurance.service.implementation.CustomerServiceImplementation"/>
    
    <bean id="insuranceService"
          class="com.titova.insurance.service.implementation.InsuranceServiceImplementation"/>

    <bean id="linkService"
              class="com.titova.insurance.service.implementation.LinkServiceImplementation"/> 
           
    <bean id="statService"
          class="com.titova.insurance.service.implementation.StatServiceImplementation"/>
   

</beans>